{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper desktop-only">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <span class="title">Here's what I've been up to:</span>
                    </div>
                    <div class="message">
                        <br>
                        <p><span>></span><span class="caret">$</span><span>  pushed (x) commits to (repo)</span></p>
                        <p><span>></span><span class="caret">$</span><span>  wrote about (blog post)</span></p>
                        <p><span>></span><span class="caret">$</span><span>  commented on (reddit post)</span></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Musa</p>
            <p class="text-title desktop-view">Ali</p>
            <p class="text-title mobile-view">Musa Ali</p>
            <div>
                <a target="_blank" href="https://github.com/helloMusa">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/musa-ali-cu/">
                    <img class="title-logo" src="static/images/linkedin.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum, tellus sit amet faucibus faucibus, ante nisi varius massa, in venenatis libero nunc ut felis. Ut nulla lorem, aliquam ac justo ac, aliquam pharetra erat. Vestibulum quis accumsan enim. Etiam molestie molestie congue. Integer ac sapien leo. Proin consectetur felis tellus, ut tristique erat lobortis gravida. Duis urna sem, pulvinar vitae suscipit quis, aliquet sit amet quam. Integer nec rutrum orci. Donec maximus massa vel ipsum euismod, viverra consectetur tortor accumsan. Mauris vel cursus arcu, non rhoncus ex. Ut eget congue magna, ut fringilla nisl. Aenean imperdiet lorem tellus, sit amet mollis sem rhoncus at.</p>
            <p class="text-content">
            Nullam a egestas augue, in sollicitudin orci. Nam vel ante iaculis, convallis nisl vel, laoreet leo. Morbi augue ligula, venenatis sodales ex eget, fermentum pellentesque tellus. Praesent sed quam nibh. Duis erat nunc, mattis vel aliquet nec, condimentum consectetur lacus. Vestibulum tempor ex risus, nec venenatis arcu eleifend at. Cras eu eleifend ligula. Nunc elementum turpis eu tempor suscipit. Morbi urna dolor, hendrerit non est ut, auctor venenatis nisl. Fusce ut ipsum magna.</p>
            <p class="text-content">Suspendisse dapibus convallis ligula sit amet vestibulum. Cras pulvinar congue dictum. Vivamus nec dapibus ante.</a>.</p>
        </div>
    </div>
</div>
{% endblock %}