{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper desktop-only">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <span class="title">Here's what I've been up to:</span>
                    </div>
                    <div class="message">
                        <br>
                        <p><span>></span><span class="caret">$</span><span>  pushed to <a href="https://github.com/helloMusa/{{ repo_name}}">{{ repo_name }}</a> ({{ repo_time }} ago)</span></p>
                        <p><span>></span><span class="caret">$</span><span>  wrote about <a href="{{ url_for('post', post_title=blog_url) }}"> {{ blog_name }} </a></span></p>
                        <p><span>></span><span class="caret">$</span><span>  commented on (reddit post)</span></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Musa Ali</p>
            <p class="text-title mobile-view">Musa Ali</p>
            <div>
                <a target="_blank" href="https://github.com/helloMusa">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/musa-ali-cu/">
                    <img class="title-logo" src="static/images/linkedin.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">I'm a student, a programmer, and a guitarist. Among other things, I'm very passionate about helping the world, working on new and (sometimes) exciting <a href="https://github.com/helloMusa">projects</a>, and self-improvement.</p>
            <p class="text-content">Currently in my freshman year at <a href='https://carleton.ca'/>Carleton University</a> studying Computer Science. I am documenting my undergraduate journey on <a href='blog.com'>my blog</a> where I plan to talk about various things such as the courses I've taken, what I do in my free time, and my goals for the future. </p>
        </div>
    </div>
</div>
{% endblock %}